.avatarWrapper {
  position: relative;
  display: inline-block;
}

.onlineDot {
  position: absolute;

  width: 10px;
  height: 10px;

  background: #22c55e;
  border-radius: 50%;

  bottom: 0;
  right: 0;

  border: 2px solid white;
}